{% extends "registration/base.html" %}

{% block title %}
     بازیابی رمز عبور
{% endblock %}

{% block content %}

    {% if validlink %}
        <p>لطفا رمز عبور جدید خود را دوبار وارد کنید.</p>
        <form action="." method="post">
            {% csrf_token %}
            <div class="box-body" style="font-size:14px;">
                <div>
                  <div class="col-sm-12" id="pass1">
                    <label for="id_new_password1"> رمز عبور جدید: </label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                  </div>

                  <div class="col-sm-12" id="pass2">
                    <label for="id_new_password2">تأیید رمز عبور جدید: </label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                  </div>
                </div>
                <p><input type="submit" value="تغییر رمز عبور" /></p>
            </div>
            <ul>
              <li>- رمز عبور شما نمی&zwnj;تواند شبیه سایر اطلاعات شخصی شما باشد.</li>
              <li>- رمز عبور شما می&zwnj;بایست حداقل از 8 حرف تشکیل شده باشد.</li>
              <li>- رمز شما نمی تواند از عبارات معروف باشد.</li>
              <li>- رمز شما نمی تواند کلا عدد باشد.</li>
            </ul>
        </form>

    {% else %}

    <p> لینک بازیابی رمز عبور نامعتبر است، احتمالا به دلیل آن است که
    در حال حاضر استفاده شده است. لطفا برای بازیابی رمز عبور مجددا درخواست کنید.</p>

    {% endif %}

{% endblock %}