@font-face {
	font-family: 'yekan';
	src: url(../fonts/Yekan.eot);
	src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
	font-weight: normal;
	font-style: normal
}

body{
    background-color: #e9e9e9;

}

.cta {
    width: 100%;
    /* padding: 15px 40px; */
    box-sizing: border-box;
    color: #666666;
    font-size: 12px !important;
    text-align: center;
}

.cta a {
    color: #333333;
    text-decoration: none;
}

.login-page {
  width: 100%;
  margin: auto;
}

#changePassBox{
    width: 90% !important;
    margin: auto !important;
    background-color: white !important;
    border-top: 3px solid #1d1919 !important;
    border-radius: 3px !important;
}

.feedback{
    font-family: 'yekan';
    position: relative;
    top: -310px;
    left: 554px;
    z-index: 3;
    width: 17%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    font-size: 12px;
    display: none;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.45);
    transition: 0.3s;
}

.feedback:before{
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: rgba(0, 0, 0, 0.61);
    border-width: 10px;
    margin-left: -10px;
}

.overlay {
    display: block;
	height: 640px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.l-container {
  z-index: 1;
  max-width: 320px;
  margin: 10% auto;
}

.l-container:before, .l-container:after {
  content: "";
  display: block;
  clear: both;
}

.l-container .info {
  margin: 50px auto;
  text-align: center;
}

.l-container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.l-container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.l-container .info span a {
  color: #000000;
  text-decoration: none;
}

.l-container .info span .fa {
  color: #EF3B3A;
}

.login-page {
  width: 100%;
  margin: auto;
}

.l-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 10px 45px 1px 45px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.21);
}

.l-form p{
    font-size: 14px;
    font-family: 'yekan';
    margin-top: 0;
}

.l-form input, .form-horizontal input {
    font-family: "yekan", sans-serif;
    font-size: 12px;
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 6px 10px 6px 40px;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 0.3s ease-out;
}

.l-form input:focus, .form-horizontal input:focus{
    padding: 6px 10px 6px 15px;
    outline: 0;
    border-color: #d6e221;
}

.l-form-button, .form-horizontal button {
    padding: 10px 15px !important;
    border: 1px solid #ccc !important;
    color: #000;
    background: #f4ff4f !important;
    font-size: 15px !important;
    outline: 0;
    width: 100%;
    border: 0;
    line-height: 15px;
    padding: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.l-form-button:hover,.l-form-button:active,.l-form-button:focus,
 .form-horizontal button:hover, .form-horizontal button:active,
  .form-horizontal button:focus {
    /* border-color:#9fd1c6 or #ca2626 !important;  or #33b5e5  or #30bbbb*/
    border-color: #aaa !important;
    text-shadow: none !important;
    background-color: #e5ef5c !important;
}

.form-horizontal input{
    padding: 6px 12px !important;
}

#pass1 , #pass2, #oldPass{
    padding: 0 !important;
}

#pass1 input , #pass2 input, #oldPass input{
    background-color: #fdfdfd;
}

.l-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.l-form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.l-form .forget-form {
  display: none;
}

.legend {
    font-family: 'yekan', 'RobotoDraft', 'Roboto', sans-serif;
    position: relative;
    max-width: 100%;
    display: block;
    /* border-radius: 10px 10px 0 0;
    background: #e53333;
    */
    background: #000 !important;
    padding: 8px 20px;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.21);
}

.legend:after {
    content: "";
    background-image: url(../img/multy-user2.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 90% -16px;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.input{
    position: relative;
}

.input span {
    position: absolute;
    display: block;
    color: #d4d4d4;
    left: 10px;
    top: 8px;
    font-size: 20px;
}

.main-sidebar{
    background-color: #1d1919 !important;
}

.sidebar {
    height: 300px !important;
    padding-bottom: 10px;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

.outer {
    margin: 20px auto 0;
    width: 150px;
    height: 150px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.setting-outer{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 10%;
    top: 173px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.setting-div{
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    margin: 2px;
    padding: 3px;
}

.profile-user-img {
    width: 130px;
    border: 4px solid #fff;
    margin: 9px;
}
.img-circle {
    border-radius: 50%;
}

.content {
    min-height: 250px;
    padding: 25px 15px 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a {
    color: #fff;
}

.user-panel>.info {
    padding: 0px 15px 5px 15px;
    line-height: 1;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.user-panel>.info>p {
    font-weight: 600;
    font-size: 12pt;
    margin-bottom: 9px;
    position: none !important;
}

.tooltip-inner {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgba(255, 255, 255, 0.8);
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(255, 255, 255, 0.8);
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgba(255, 255, 255, 0.8);
}

.box-body {
    font-size: 80pt;
    margin-top: 5px;
    padding: 0px;
    display: inline-block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #d2d6de;
    margin: 0px 3px 0px 3px;
    width: 108px;
    height: 140px;
    line-height: 0.7;
    border-radius: 0px !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box.box-primary {
    display: inline-block;
}

.row {
    margin: 0;
}

.lottery-title{
    width: 386px;
    height: 90px;
    margin: 40px auto 0 auto;
    background-color: #f4ff4f;
    border-radius: 50% 50% 0 0;
    text-align: center;
    border: 3px solid #ccc;
    border-bottom: 0;
    color: white;
    -webkit-box-shadow: inset 0px 0px 3px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: inset 0px 0px 3px 5px rgba(0,0,0,0.12);
    box-shadow: inset 0px 0px 3px 5px rgba(0,0,0,0.12);
}

.lottery-title > div{
    background: url(/static/bg10.jpg);
    background-size: cover;
    background-position: 0 -15px;
    width: 360px;
    height: 76px;
    padding-top: 1px;
    position: relative;
    bottom: 0px;
    margin: 10px;
    border-radius: 50% 50% 3px 3px;
    background-color: #1d1919;
}

.lottery-title h1{
    font-weight: bolder;
    text-shadow: 0 1px 0 #7a8032, 0 1px 0 #7a8032, 0 3px 0 #7a8032, 0 2px 0 #7a8032, 0 1px 0 #7a8032, 0 2px 1px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.3), 0 2px 3px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.25), 0 8px 9px rgba(0,0,0,.2), 0 19px 19px rgba(0,0,0,.15);
    color: #f4ff4f;
}

.slot{
    margin: 20px auto;
    width: 386px !important;
    border-radius: 0 0 5px 5px !important;
    background-color: #f4ff4f !important;
    padding: 11px !important;
    border: 3px solid #ccc;
    border-top: 0;
    -webkit-box-shadow: inset 0px 0px 3px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: inset 0px 0px 3px 5px rgba(0,0,0,0.12);
    box-shadow: inset 0px 0px 3px 5px rgba(0,0,0,0.12);
}

.box-number{
    width: 360px !important;
    background-color: #151515 !important;
    padding: 0 6px !important;
    overflow: hidden;
    position: relative;
}

.box-number:after {
    content: '';
    box-shadow: inset 0px 31px 35px -10px rgba(64, 64, 64, 0.5), inset 0px -25px 35px -10px rgba(64, 64, 64, 0.5) !important;
    height: 140px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 4px;
    border-radius: 3px;
}

.number{
    background-color: #ecf0f5;
    border-top: 0px;
    color: black;
    font-size: 80px;
    line-height: 1.7;
    width: 108px;
    height: 140px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.btn-block{
    display: block;
    width: 20%;
    margin: 0 72px;
    float: right;
}

#description{
    text-align: center;
    border-top:3px solid #1d1919;
    border-radius: 3px;
}

#lottery{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    margin: 0;
    border-top: 3px solid #1d1919;
    border-radius: 3px !important;
}

.nav-tabs-custom>.tab-content {
    background: #fff;
    padding: 0px 20px 20px !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.table-hover > thead > tr, .table-hover > tbody > tr{
    background-color: #f5f5f5;
}

.table-hover > tbody > tr > th, .table-hover > tbody > tr > td{
    border-top: 1px solid #d2d6de;
    text-align: center;
}

.box-body>.table {
    margin-bottom: 0;
    border: 1px solid #d2d6de;
}

.reel {
    width: 108px;
    height: 140px;
    float: left;
}

.reel-symbol {
    color: black;
    font-size: 80px;
    line-height: 1.7;
    width: 108px;
    height: 140px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

@-webkit-keyframes loop {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: -640px;
  }
}

@keyframes loop {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: -640px;
  }
}

@-webkit-keyframes begin {
    0% {
        margin-top: 0px;
    }
    75% {
        margin-top: -80px;
    }
    100% {
        margin-top: 26.5px;
    }
}

@keyframes begin {
    0% {
        margin-top: 0px;
    }
    75% {
        margin-top: -80px;
    }
    100% {
        margin-top: 26.5px;
    }
}

@-webkit-keyframes stop {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}

@keyframes stop {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}

.reel-loop {
    -webkit-animation: loop 0.5s linear infinite reverse;
    animation: loop 0.5s linear infinite reverse;
}
.reel-stop {
    -webkit-animation: stop 0.15s ease-out;
    animation: stop 0.15s ease-out;
}

.reel-begin {
    -webkit-animation: begin 0.35s linear;
    animation: begin 0.35s linear;
}


@media (min-width: 990px) and (max-width: 1200px) {
    .box-number{
        width: 277px !important;
        height: 100px;
        padding: 0 1px 0 4px !important;
    }

    .number{
        margin: 0px 2px;
        width: 84px;
        height: 100px;
    }

    .number > div {
        font-size: 50pt !important;
        padding: 0px !important;
    }

    .btn-block{
        margin: auto;
        float: none;
        font-size: 13pt !important;
    }

    .lottery-title{
        width: 300px;
        height: 80px;
    }

    .lottery-title > div {
        width: 278px;
        height: 68px;
        margin: 8px;
    }

    .lottery-title h1{
        line-height: 0.8;
    }

    .slot{
        width: 300px !important;
        padding: 8px !important;
    }

    .box-number:after {
        height: 100px;
        width: 272px;
    }

    .reel-symbol{
        font-size: 70px;
        width: 84px;
        height: 100px;
        line-height: 1.4;
    }

    .reel{
        width: 84px;
        height: 100px;
    }
}

@media (min-width: 770px) and (max-width: 991px) {
    #right-box{
        float: none !important;
        margin-bottom: 30px !important;
    }

    .btn-block{
        margin: auto;
        float: none;
    }
}

@media (min-width: 650px) and (max-width: 770px) {
    #right-box{
        float: none !important;
        margin-bottom: 30px !important;
    }

    .btn-block{
        margin: auto;
        float: none;
        font-size: 13pt !important;
    }

    .main-sidebar{
        right: -230px !important;
    }

    .box-number{
        width: 277px !important;
        height: 100px;
        padding: 0 1px 0 4px !important;
    }

    .number{
        margin: 0px 2px;
        width: 84px;
        height: 100px;
    }

    .number > div {
        font-size: 50pt !important;
        padding: 0px !important;
    }

    .lottery-title{
        width: 300px;
        height: 80px;
    }

    .lottery-title > div {
        width: 278px;
        height: 68px;
        margin: 8px;
    }

    .lottery-title h1{
        line-height: 0.8;
    }

    .slot{
        width: 300px !important;
        padding: 8px !important;
    }

    .box-number:after {
        height: 100px;
        width: 272px;
    }

    .reel-symbol{
        font-size: 70px;
        width: 84px;
        height: 100px;
        line-height: 1.4;
    }

    .reel{
        width: 84px;
        height: 100px;
    }
}

@media (min-width: 400px) and (max-width: 650px) {
    .main-sidebar{
        width: 100% !important;
        min-height: 300px !important;
        right: -230px !important;
    }

    .setting-outer{
        right: 25% !important;
    }

    #setting{
        left: 25% !important;
    }

    .content-wrapper{
        margin-right: 0 !important;
        margin-top: 350px !important;
    }

    #right-box{
        float: none !important;
        margin-bottom: 30px !important;
    }

    .box-number{
        width: 277px !important;
        height: 100px;
        padding: 0 1px 0 4px !important;
    }

    .number{
        margin: 0px 2px;
        width: 84px;
        height: 100px;
    }

    .number > div {
        font-size: 50pt !important;
        padding: 0px !important;
    }

    .btn-block{
        margin: auto;
        float: none;
        font-size: 13pt !important;
    }

        .lottery-title{
        width: 300px;
        height: 80px;
    }

    .lottery-title > div {
        width: 278px;
        height: 68px;
        margin: 8px;
    }

    .lottery-title h1{
        line-height: 0.8;
    }

    .slot{
        width: 300px !important;
        padding: 8px !important;
    }

    .box-number:after {
        height: 100px;
        width: 272px;
    }

    .reel-symbol{
        font-size: 70px;
        width: 84px;
        height: 100px;
        line-height: 1.4;
    }

    .reel{
        width: 84px;
        height: 100px;
    }
}

@media (max-width: 400px) {
    .main-sidebar{
        width: 100% !important;
        min-height: 300px !important;
        right: -230px !important;
    }

    .setting-outer{
        right: 10% !important;
    }

    #setting{
        left: 25% !important;
    }

    .content-wrapper{
        margin-right: 0 !important;
        margin-top: 350px !important;
    }

    #right-box{
        float: none !important;
        margin-bottom: 30px !important;
    }

    .box-number{
        width: 144px !important;
        padding: 0 1px 0 3px !important;
    }

    .number{
        margin: 0px 1px;
        width: 42px;
        height: 50px;
    }

    .number > div {
        font-size: 24pt !important;
        padding: 0px 1px !important;
    }

    .btn-block{
        margin: auto;
        float: none;
        font-size: 12pt !important;
    }

    .slot {
        width: 159px !important;
        padding: 5px !important;
    }

    .lottery-title{
        width: 159px;
        height: 50px;
    }

    .lottery-title > div {
        width: 144px;
        height: 42px;
        margin: 5px;
    }

    .lottery-title h1 {
        line-height: 0.3;
        font-size: 12pt;
    }

    .box-number:after {
        height: 50px;
        width: 139px;
        border-radius: 0;
        box-shadow: inset 0px 10px 35px -10px rgba(64, 64, 64, 0.5), inset 0px -10px 35px -10px rgba(64, 64, 64, 0.5) !important;
    }

    .reel-symbol{
        font-size: 40px;
        width: 42px;
        height: 50px;
        line-height: 1.2;
    }

    .reel{
        width: 42px;
        height: 50px;
    }
}
