<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href='{% static "css/styles4.css" %}' />
<script type="text/javascript" src='{% static "js/jquery-2.1.3.js" %}'></script>
<script type="text/javascript" src='{% static "js/skrollr.js" %}'></script>
<script type="text/javascript" src='{% static "js/scripts.js" %}'></script>

<!--
<link rel="stylesheet" type="text/css" href='css/styles4.css' />
<script type="text/javascript" src='js/jquery-2.1.3.js'></script>
<script type="text/javascript" src='js/skrollr.js'></script>
<script type="text/javascript" src='js/scripts.js'></script>
-->
</head>
<body size="1118x798">
		<div id="back">
			<nav>
				<ul>
					<li><a href="#">صفحه اصلی</a></li>
					<li><a href="/login">ورود به پنل کاربری</a></li>
					<li><a href="/products">محصولات</a></li>
					<li><a href="/about-us">درباره ما</a></li>
					<li><a href="/contact">ارتباط با ما</a></li>
				</ul>
				<span class="arrow-down"></span>
			</nav>
<!--			<div id="logo" size="500x284" data-start="transform:translate(-50%,-50%) scale(1,1); left:50%;top:50%;" data-_key1="transform:translate(0,0) scale(0.5,0.5); left:1%;top:2%;" ></div>-->

			<!-- news box -->
			{% if news.state %}
				<div id="box">
					<span onclick="document.getElementById('box').style.display='none'">&times;</span>
					<div class="octo">
					  <div class="octo1">
						<img src='/media/{{ news.img }}' alt="{{ news.title }}" />
					  </div>
					</div>
					<h3>{{ news.title }}</h3>
					<p>{{ news.summary }}</p>
				</div>
			{% endif %}
			<!-- end news box -->

			<div id="big-pack" size="500x500" data-start="top:50%" data-_key1="top:80%" ></div>
			<div id="goup" size="48x48" title="Go Up! = !برو بالا" data-start="display:none;" data-_key1="opacity:0; display:block;" data-_key2="opacity:1;">
                <img src='{% static "img/go-up.png" %}' />
			</div>
			
			<div id="step-0" class="viewport" data-start="top:0%;" data-_key1="top:-100%;">
				<div data-start="transform:scale(1); opacity:1;" data-_key1="transform:scale(2); opacity:0;">
					<div class="left" size="260x600"></div>
					<div class="middle"></div>
					<div size="690x625" class="right"></div>
				</div>
				<div class="scroll-b" size="108x62" data-start="opacity:1; bottom:5%;" data-1000="bottom:100%;"></div>				
			</div>
			
			<div id="step-1" class="viewport" data-start="top:100%;" data-_key1="top:0%;" data-_key2="" data-_key3="top:-100%;">
				<div class="pack" size="1000x300" data-_key1="top:50%;" data-_key2="80%" data-_key3="top:150%;" ></div>
				
			</div>
			
			<div id="step-2" class="viewport" data-_key2="top:100%;" data-_key3="top:0%;" data-_key4="" data-_key5="top:-100%;">
			</div>
			
			<div id="step-3" class="viewport" data-_key4="top:100%;" data-_key5="top:0%;" data-_key6="" data-_key7="top:-100%;">
			<div class="d-bread" size="500x425" data-_key4="top:100%;" data-_key6="top:24%;"		data-_key7="top:123%;"></div>				
				<div class="pack" size="500x425" data-_key4="top:-50%;" data-_key5="top:50%;" data-_key6="" data-_key7="top:150%;" ></div>
				<span class="pieces piece-1"  size="300x179" data-7200="top:120%; transform:rotate(+25deg);" data-9000="top:-50%; transform:rotate(-25deg);"></span>
				<span class="pieces piece-2"  size="170x121"  data-7500="top:120%; transform:rotate(+32deg);" data-9500="top:-50%; transform:rotate(-32deg);"></span>
				<span class="pieces piece-3"  size="150x89" data-8300="top:120%; transform:rotate(-40deg);" data-9800="top:-50%; transform:rotate(+40deg);"></span>
				<span class="pieces piece-4"  size="258x300" data-7000="top:120%; transform:rotate(-50deg);" data-8800="top:-50%; transform:rotate(+50deg);"></span>
				<span class="pieces piece-5"  size="258x300" data-8500="top:120%; transform:rotate(+25deg);" data-9500="top:-50%; transform:rotate(-65deg);"></span>
				<span class="pieces piece-6"  size="650x637"   data-7500="top:120%; transform:rotate(+10deg);" data-9000="top:-50%; transform:rotate(-37deg);"></span>
				<span class="pieces piece-7"  size="300x300"   data-7600="top:120%; transform:rotate(-20deg);" data-9000="top:-50%; transform:rotate(+45deg);"></span>

				<span class="pieces piece-9"  size="127x76" data-7000="top:120%; transform:rotate(+70deg);" data-8500="top:-50%; transform:rotate(-35deg);"></span>
				<span class="pieces piece-10" size="258x300" data-8500="top:120%; transform:rotate(+5deg);"  data-10500="top:-50%; transform:rotate(-86deg);"></span>
				<span class="pieces piece-11" size="300x179"  data-8000="top:120%; transform:rotate(+5deg);"  data-10500="top:-50%; transform:rotate(-86deg);"></span>
			</div>
			
			<div id="step-4" class="viewport" data-_key6="top:100%;" data-_key7="top:0%;" data-_key8="" data-_key9="top:-100%;">
				<div class="pack" size="500x425" data-_key6="top:-50%;" data-_key7="top:50%;" data-_key8="" data-_key9="top:150%;" ></div>		
				<div class="tomato-2" size="500x425" data-_key6="top:-100%;" data-_key7="" data-_key8="top:18%;" data-_key9="top:129.5%;"></div>
				<div class="tomato" size="500x425" data-_key6="top:-50%;" data-_key7="top:-70%;" data-_key8="top:18%;" data-_key9="top:129.5%;"></div>
				<div class="cheese-2" size="500x425" data-_key6="top:-80%;" data-_key7="-75%" data-_key8="top:20.4%;" data-_key9="top:129%;"></div>					
				<div class="lettuce" size="500x425" data-_key6="top:-50%;" data-_key7="" data-_key8="top:20.4%;" data-_key9="top:129%;"></div>					
				<div class="lettuce-2" size="500x425" data-_key6="top:-70%;" data-_key7="-70%" data-_key8="top:20.4%;" data-_key9="top:129%;"></div>				
				<div class="cheese" size="500x425" data-_key6="top:-80%;" data-_key7="-75%" data-_key8="top:20.4%;" data-_key9="top:129%;"></div>
			</div>			
	
			<div id="step-5" class="viewport" data-_key8="top:100%;" data-_key9="top:0%;" data-_key10="" data-_key11="top:-100%;">
				<div class="pack" size="500x425" data-_key8="top:-50%;" data-_key9="top:50%;" data-_key10="" data-_key11="top:150%;" ></div>
				
				<div class="t-bread" size="500x425" data-_key8="top:-50%;" data-_key10="top:21%;"
					data-_key11="top:126%;"></div>			
			</div>
			
			<div id="step-6" class="viewport" data-_key10="top:100%;" data-_key11="top:0%;">
				<div class="pack" size="500x500" data-_key10="top:-51%;" data-_key11="top:50%;" data-_key12="top:64%;" ></div>
				<span class="final-pack pack-2" size="450x441" data-14900="top:-100%;" data-16500="top:34%;"></span> 
<!--				<span class="final-pack pack-3" size="450x441" data-15300="top:-120%;" data-16500="top:14%;"></span> -->
				<!--burger-->
				<span class="final-pack pack-4" size="450x441" data-15300="top:-100%;" data-17000="top:34%;"></span> 
				<div class="lang" data-start="display:none;" data-_key7="" data-_key8="display:block;">
					<a href="#" class="fa" role="fa" size="142x180" data-13200="opacity:0;" data-14000="opacity:1;" title="ورود به وبسایت پارسی">
						<span size="142x180">&nbsp;</span>
					</a>
					<a href="#" class="en" role="en" size="109x180" data-13200="opacity:0;" data-14000="opacity:1;" title="Enter to the English website">
						<span size="109x180">&nbsp;</span>
					</a>
				</div>
				<footer data-_key10="bottom:-100px;" data-_key11="" data-_key12="bottom:0;">
                <img data-_key10="transform:rotate(-360deg) translate(0,-50%);left:-50px;" data-_key11="" data-_key12="transform:rotate(0deg) translate(0,-50%);left:0;" src='{% static "img/808-pack-small.png" %}' />
                    <img data-_key10="transform:rotate(-360deg) translate(0,-50%);left:-50px;" data-_key11="" data-_key12="transform:rotate(0deg) translate(0,-50%);left:37px;" src='{% static "img/808-pack-small.png" %}'/>
                    <img data-_key10="transform:rotate(-360deg) translate(0,-50%);left:-50px;" data-_key11="" data-_key13="transform:rotate(0deg) translate(0,-50%);left:75px;" src='{% static "img/808-pack-small.png" %}'/>
					<span data-_key10="bottom:-120%;" data-_key11="" data-18000="bottom:0;">Copyright 2017. All rights reserved by <a href="http://www.bodesepid.ir" title="کانون تبلیغاتی بعد سپید" target="_blank">www.bodesepid.ir</a></span>
				</footer>
			</div>
			
		</div>
	<script type="text/javascript">
		 if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i. test(navigator.userAgent) ) {
			 window.location.href='/products/';
		 }
 	</script>
</body>
</html>
