<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href='{% static "css/styles4.css" %}' />
<script type="text/javascript" src='{% static "js/jquery-2.1.3.js" %}'></script>
<script type="text/javascript" src='{% static "js/skrollr.js" %}'></script>
<script type="text/javascript" src='{% static "js/scripts.js" %}'></script>
</head>
<body size="1118x798">
		<div id="back">
			<nav data-start="top:-100%;" data-_key1="top:0;">
				<ul>
					<li><a href="#">صفحه اصلی</a></li>
					<li><a href="/login">ورود به پنل کاربری</a></li>
					<li><a href="#">محصولات</a></li>
					<li><a href="#">درباره ما</a></li>
					<li><a href="#">ارتباط با ما</a></li>
				</ul>
			</nav>
			<div id="logo" size="500x284" data-start="transform:translate(-50%,-50%) scale(1,1); left:50%;top:50%;" data-_key1="transform:translate(0,0) scale(0.5,0.5); left:1%;top:2%;" ></div>
			<div id="goup" size="48x48" title="Go Up! = !برو بالا" data-start="display:none;" data-_key1="opacity:0; display:block;" data-_key2="opacity:1;">
                <img src='{% static "img/go-up.png" %}' />
			</div>
			
			<div id="step-0" class="viewport" data-start="top:0%;" data-_key1="top:-100%;">
				<div data-start="transform:scale(1); opacity:1;" data-_key1="transform:scale(2); opacity:0;">
					<div class="left" size="260x600"></div>
					<div class="middle"></div>
					<div size="690x625" class="right"></div>
				</div>				
			</div>
			
			<div id="step-1" class="viewport" data-start="top:100%;" data-_key1="top:0%;" data-_key2="" data-_key3="top:-100%;">
				<div class="pack" size="500x425" data-_key1="top:50%;" data-_key2="" data-_key3="top:150%;" ></div>
				<span class="pieces piece-1" size="340x230" data-2000="top:120%; transform:rotate(0deg);" data-4000="top:-50%; transform:rotate(-25deg);"></span>
				<span class="pieces piece-2" size="309x357" data-1200="top:120%; transform:rotate(0deg);" data-3000="top:-50%; transform:rotate(-42deg);"></span>
				<span class="pieces piece-3" size="942x497" data-2500="top:120%; transform:rotate(0deg);" data-5000="top:-80%; transform:rotate(+30deg);"></span>
				<span class="pieces piece-4" size="271x162" data-1000="top:120%; transform:rotate(0deg);" data-2700="top:-50%; transform:rotate(+60deg);"></span>
				<span class="pieces piece-5" size="375x195" data-1400="top:120%; transform:rotate(0deg);" data-3200="top:-50%; transform:rotate(-15deg);"></span>
				<span class="pieces piece-6" size="314x404" data-1000="top:120%; transform:rotate(0deg);" data-3200="top:-50%; transform:rotate(-77deg);"></span>
				<span class="pieces piece-7" size="473x174" data-2200="top:120%; transform:rotate(0deg);" data-3800="top:-50%; transform:rotate(+55deg);"></span>
				<span class="pieces piece-8" size="322x262" data-2000="top:120%; transform:rotate(0deg);" data-3600="top:-50%; transform:rotate(+26deg);"></span>
				<span class="pieces piece-9" size="340x230" data-1800="top:120%; transform:rotate(0deg);" data-3300="top:-50%; transform:rotate(-42deg);"></span>
				
			</div>
			
			<div id="step-2" class="viewport" data-_key2="top:100%;" data-_key3="top:0%;" data-_key4="" data-_key5="top:-100%;">
				<div class="pack" size="500x425" data-_key2="top:-50%;" data-_key3="top:50%;" data-_key4="" data-_key5="top:150%;" ></div>
				<div class="fire" size="500x280" data-_key2="top:-50%;" data-_key3="top:50%;" data-_key4="" data-_key5="top:150%;" ></div>
				
<!--
				<span class="pieces piece-1"  size="220x307" data-5500="top:120%;opacity:0.6" data-7500="top:-50%;opacity:1"></span>
				<span class="pieces piece-4"  size="220x307" data-5500="top:120%;opacity:0.6" data-7500="top:-50%;opacity:1"></span>
				<span class="pieces piece-2"  size="208x319" data-4200="top:120%; opacity:0.8" data-6800="top:-50%; opacity:1;"></span>
				<span class="pieces piece-3"  size="118x132"  data-3700="top:120%; opacity:0.2;" data-6200="top:-50%; opacity:0.6;"></span>
				<span class="pieces piece-4"  size="69x85"   data-3500="top:120%; opacity:1;" data-6000="top:-50%; opacity:0.5;"></span>
				<span class="pieces piece-5"  size="80x93"   data-3400="top:120%; opacity:0.6;" data-6400="top:-50%; opacity:1;"></span>
				<span class="pieces piece-6"  size="119x138" data-3200="top:120%; opacity:0.6;" data-6200="top:-50%; opacity:1;"></span>
				<span class="pieces piece-7"  size="81x107"   data-4500="top:120%; opacity:0.8;" data-6500="top:-50%; opacity:0.2;"></span>
				<span class="pieces piece-8"  size="127x145" data-5500="top:120%; opacity:0.6;" data-6500="top:-50%; opacity:1;"></span>
				<span class="pieces piece-9"  size="69x76"   data-6000="top:120%; opacity:0.2;" data-7000="top:-50%; opacity:0.8;"></span>
				<span class="pieces piece-10" size="54x59"   data-5000="top:120%; opacity:0.6;" data-6500="top:-50%; opacity:1;"></span>
-->
				
<!--
				<span class="bubbles text-1" size="280x280" data-4500="top:100%;" data-7000="top:-100%;">
					<div>
						<b>نخود فرنگی، دوست قلب شما</b>
						<p>فولیک اسید و ویتامین B6 موجود در نخود فرنگی، از سیستم قلبی حفاظت می کنند.</p>
					</div>
				</span>
				<span class="bubbles text-2" size="400x400" data-4000="top:150%;" data-8000="top:-100%;">
					<div style="margin-top:50%;">
						<b>منبع کاملی از ویتامین های کمیاب</b>
						<p>نخود فرنگی، منبعی غنی از ویتامین K1، فولیک اسید و منبع خوبی از ویتامین های B3 ،B2 ،B1 و B6</p>
					</div>
				</span>
-->
			</div>
			
			<div id="step-3" class="viewport" data-_key4="top:100%;" data-_key5="top:0%;" data-_key6="" data-_key7="top:-100%;">
			
				<div class="cheese" size="500x425" data-_key4="top:-80%;" data-_key5="-75%" data-_key6="top:20.4%;" data-_key7="top:129%;"></div>
				<div class="lettuce-2" size="500x425" data-_key4="top:-70%;" data-_key5="-70%" data-_key6="top:20.4%;" data-_key7="top:129%;"></div>
				<div class="lettuce" size="500x425" data-_key4="top:-50%;" data-_key5="" data-_key6="top:20.4%;" data-_key7="top:129%;"></div>

				
				<div class="pack" size="500x425" data-_key4="top:-50%;" data-_key5="top:50%;" data-_key6="" data-_key7="top:150%;" ></div>
				<span class="pieces piece-1"  size="130x300" data-7200="top:120%; transform:rotate(+25deg);" data-9000="top:-50%; transform:rotate(-25deg);"></span>
				<span class="pieces piece-2"  size="170x121"  data-7500="top:120%; transform:rotate(+32deg);" data-9500="top:-50%; transform:rotate(-32deg);"></span>
				<span class="pieces piece-3"  size="150x150" data-8300="top:120%; transform:rotate(-40deg);" data-9800="top:-50%; transform:rotate(+40deg);"></span>
				<span class="pieces piece-4"  size="300x130" data-7000="top:120%; transform:rotate(-50deg);" data-8800="top:-50%; transform:rotate(+50deg);"></span>
				<span class="pieces piece-5"  size="258x300" data-8500="top:120%; transform:rotate(+25deg);" data-9500="top:-50%; transform:rotate(-65deg);"></span>
				<span class="pieces piece-6"  size="300x264"   data-7500="top:120%; transform:rotate(+10deg);" data-9000="top:-50%; transform:rotate(-37deg);"></span>
				<span class="pieces piece-7"  size="300x130"   data-7600="top:120%; transform:rotate(-20deg);" data-9000="top:-50%; transform:rotate(+45deg);"></span>
				<span class="pieces piece-8"  size="211x450"  data-7800="top:120%; transform:rotate(-40deg);" data-11000="top:-50%; transform:rotate(+56deg);"></span>
				<span class="pieces piece-9"  size="127x130" data-7000="top:120%; transform:rotate(+70deg);" data-8500="top:-50%; transform:rotate(-35deg);"></span>
				<span class="pieces piece-10" size="258x300" data-8500="top:120%; transform:rotate(+5deg);"  data-10500="top:-50%; transform:rotate(-86deg);"></span>
				<span class="pieces piece-11" size="300x214"  data-8000="top:120%; transform:rotate(+5deg);"  data-10500="top:-50%; transform:rotate(-86deg);"></span>
				
<!--
				<span class="bubbles text-1" size="240x240" data-7500="top:100%;" data-9000="top:-100%;">
					<div>
						<b>روغن ذرت، کلسترول خون را پایین می آورد</b>
						<p>و برای درمان بیماری های پوستی مفید است</p>
					</div>
				</span>
				<span class="bubbles text-2" size="320x320" data-7500="top:150%;" data-10000="top:-100%;">
					<div>
						<b>ذرت، خوراک اول انسان ها در جهان</b>
						<p>دارای کلسیم، اسیدهای چرب اشباع، فسفر، کلسیم و همچنین سرشار از ویتامین B است.</p>
					</div>
				</span>
-->
			</div>
			
			<div id="step-4" class="viewport" data-_key6="top:100%;" data-_key7="top:0%;" data-_key8="" data-_key9="top:-100%;">
				<div class="pack" size="500x425" data-_key6="top:-50%;" data-_key7="top:50%;" data-_key8="" data-_key9="top:150%;" ></div>
				
				<div class="tomato-2" size="500x425" data-_key6="top:-100%;" data-_key7="" data-_key8="top:18%;" data-_key9="top:129.5%;"></div>
				<div class="tomato" size="500x425" data-_key6="top:-50%;" data-_key7="top:-70%;" data-_key8="top:18%;" data-_key9="top:129.5%;"></div>
				
				<span class="pieces piece-1"  size="210x210" data-10000="top:120%; transform:rotate(+25deg);" data-10500="top:-50%; transform:rotate(-25deg);"></span>
				<span class="pieces piece-2"  size="90x90"  data-9000="top:120%; transform:rotate(+32deg);" data-11500="top:-50%; transform:rotate(-32deg);"></span>
				<span class="pieces piece-3"  size="250x250" data-10000="top:120%; transform:rotate(-40deg);" data-13500="top:-50%; transform:rotate(+40deg);"></span>
				<span class="pieces piece-4"  size="220x220" data-9000="top:120%; transform:rotate(-50deg);" data-11000="top:-50%; transform:rotate(+50deg);"></span>
				<span class="pieces piece-5"  size="90x90" data-10500="top:120%; transform:rotate(+25deg);" data-12500="top:-50%; transform:rotate(-65deg);"></span>
				<span class="pieces piece-6"  size="170x170"   data-11000="top:120%; transform:rotate(+10deg);" data-13000="top:-50%; transform:rotate(-37deg);"></span>
				<span class="pieces piece-7"  size="200x200"   data-9200="top:120%; transform:rotate(-20deg);" data-14000="top:-50%; transform:rotate(+45deg);"></span>
				<span class="pieces piece-8"  size="150x150"  data-10300="top:120%; transform:rotate(-40deg);" data-12500="top:-50%; transform:rotate(+56deg);"></span>
				<span class="pieces piece-9"  size="280x280" data-11000="top:120%; transform:rotate(+70deg);" data-13500="top:-50%; transform:rotate(-35deg);"></span>
				<span class="pieces piece-10" size="110x110" data-9000="top:120%; transform:rotate(+5deg);"  data-13000="top:-50%; transform:rotate(-86deg);"></span>
				<span class="pieces piece-11" size="220x200"  data-12000="top:120%; transform:rotate(+5deg);"  data-14500="top:-50%; transform:rotate(-86deg);"></span>
				
<!--
				<span class="bubbles text-1" size="240x240" data-7500="top:100%;" data-9000="top:-100%;">
					<div>
						<b>روغن ذرت، کلسترول خون را پایین می آورد</b>
						<p>و برای درمان بیماری های پوستی مفید است</p>
					</div>
				</span>
				<span class="bubbles text-2" size="320x320" data-7500="top:150%;" data-10000="top:-100%;">
					<div>
						<b>ذرت، خوراک اول انسان ها در جهان</b>
						<p>دارای کلسیم، اسیدهای چرب اشباع، فسفر، کلسیم و همچنین سرشار از ویتامین B است.</p>
					</div>
				</span>
-->
			</div>			
	
			<div id="step-5" class="viewport" data-_key8="top:100%;" data-_key9="top:0%;" data-_key10="" data-_key11="top:-100%;">
				<div class="pack" size="500x425" data-_key8="top:-50%;" data-_key9="top:50%;" data-_key10="" data-_key11="top:150%;" ></div>
				
				<div class="t-bread" size="500x425" data-_key8="top:-50%;" data-_key10="top:21%;"
					data-_key11="top:126%;"></div>
				<div class="d-bread" size="500x425" data-_key8="top:100%;" data-_key10="top:21%;"		data-_key11="top:126%;"></div>				
				
				<span class="pieces piece-1" size="340x230" data-12000="top:120%; transform:rotate(0deg);" data-14000="top:-50%; transform:rotate(-25deg);"></span>
				<span class="pieces piece-2" size="309x357" data-12000="top:120%; transform:rotate(0deg);" data-14500="top:-50%; transform:rotate(-42deg);"></span>
				<span class="pieces piece-3" size="942x497" data-12500="top:120%; transform:rotate(0deg);" data-14000="top:-80%; transform:rotate(+30deg);"></span>
				<span class="pieces piece-4" size="271x162" data-10000="top:120%; transform:rotate(0deg);" data-14000="top:-50%; transform:rotate(+60deg);"></span>
				<span class="pieces piece-5" size="375x195" data-12400="top:120%; transform:rotate(0deg);" data-13200="top:-50%; transform:rotate(-15deg);"></span>
				<span class="pieces piece-6" size="314x404" data-12000="top:120%; transform:rotate(0deg);" data-15200="top:-50%; transform:rotate(-77deg);"></span>
				<span class="pieces piece-7" size="473x174" data-12200="top:120%; transform:rotate(0deg);" data-16300="top:-50%; transform:rotate(+55deg);"></span>
				<span class="pieces piece-8" size="322x262" data-12000="top:120%; transform:rotate(0deg);" data-14000="top:-50%; transform:rotate(+26deg);"></span>
				<span class="pieces piece-9" size="340x230" data-11800="top:120%; transform:rotate(0deg);" data-13300="top:-50%; transform:rotate(-42deg);"></span>
			</div>
			
			<div id="step-6" class="viewport" data-_key10="top:100%;" data-_key11="top:0%;">
				<div class="pack" size="500x425" data-_key10="top:-51%;" data-_key11="top:50%;" data-_key12="top:64%;" ></div>
				<span class="final-pack pack-1" size="480x480" data-11100="top:-100%;" data-12100="top:35%;"></span>
				<span class="final-pack pack-2" size="450x441" data-14900="top:-100%;" data-16500="top:34%;"></span> <!--fries-->
				<span class="final-pack pack-3" size="700x446" data-14600="top:-100%;" data-15600="top:47%;"></span> <!--burger-->
				<span class="final-pack pack-4" size="450x441" data-15300="top:-100%;" data-17000="top:34%;"></span> <!--soda-->
				<span class="final-pack pack-5" size="480x480" data-11100="top:-100%;" data-12100="top:35%;"></span>
<!--				<span class="text-1" data-11500="top:-100%;" data-13000="top:8%;" >همبرگر 808 آخر همبرگر</span>-->
				<div class="lang" data-start="display:none;" data-_key7="" data-_key8="display:block;">
					<a href="#" class="fa" role="fa" size="142x180" data-13200="opacity:0;" data-14000="opacity:1;" title="ورود به وبسایت پارسی">
						<span size="142x180">&nbsp;</span>
					</a>
					<a href="#" class="en" role="en" size="109x180" data-13200="opacity:0;" data-14000="opacity:1;" title="Enter to the English website">
						<span size="109x180">&nbsp;</span>
					</a>
				</div>
				<footer data-_key10="bottom:-100px;" data-_key11="" data-_key12="bottom:0;">
                <img data-_key10="transform:rotate(-360deg) translate(0,-50%);left:-50px;" data-_key11="" data-_key12="transform:rotate(0deg) translate(0,-50%);left:0;" src='{% static "img/808-pack-small.png" %}' />
                    <img data-_key10="transform:rotate(-360deg) translate(0,-50%);left:-50px;" data-_key11="" data-_key12="transform:rotate(0deg) translate(0,-50%);left:37px;" src='{% static "img/808-pack-small.png" %}'/>
                    <img data-_key10="transform:rotate(-360deg) translate(0,-50%);left:-50px;" data-_key11="" data-_key13="transform:rotate(0deg) translate(0,-50%);left:75px;" src='{% static "img/808-pack-small.png" %}'/>
					<span data-_key10="bottom:-120%;" data-_key11="" data-18000="bottom:0;">Copyright 2017. All rights reserved by <a href="http://www.bodesepid.ir" title="کانون تبلیغاتی بعد سپید" target="_blank">www.bodesepid.ir</a></span>
				</footer>
			</div>
			
		</div>
</body>
</html>
