<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>صفحه ورود</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
</head>

<body>

    <div class="l-container">

        <div class="legend">Login</div>
        <div class="login-page">
          <div class="l-form">

              <form action="" method="post" name="LoginForm" class="login-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="login" />
                <div class="input">
                    <input type="text" name="username" placeholder="نام کاربری"/>
                  <span style="opacity: 1;left: 5px;"><i class="fa fa-user fa-fw"></i></span>
                </div>
                <div class="input">
                  <input type="password" name="password" placeholder="رمز عبور"/>
                  <span style="opacity: 1;"><i class="fa fa-lock"></i></span>
                </div>
                <p style="text-align:right;color:#c30101;direction:rtl;">{{ message }}</p>

                <input type="submit" name="login" class="button default l-form-button" value="ورود">
                <p class="cta" style="margin-bottom:20px;"><a href="{% url 'password_reset' %}">فراموشی رمز عبور</a></p>
            </form>

          </div>
        </div>
    </div>

    <div class="feedback">
    </div>

</body>
<script src="{% static 'js/jQuery/jquery-2.2.3.min.js' %}"></script>

<script>

jQuery(document).ready(function($) {

	$( ".input" ).focusin(function() {
      $( this ).find( "span" ).animate({"opacity":"0"}, 200);
    });

    $( ".input" ).focusout(function() {
      $( this ).find( "span" ).animate({"opacity":"1"}, 300);
    });
});

</script>

</html>