{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
    محصولات
{% endblock %}

{% block products %} active {% endblock %}

{% block content %}
<section class="section-page-header" style="background: url({% static 'bg/bg7.jpg' %});background-size: 100%;background-position: 20px;height: 300px;padding:0;">
    <div style="width:100%;height: 100px;position: absolute;top: 120px;background-color:#fff;opacity: 0.8;"></div>
    <div class="page-header">
        <h1 style="color:#000;z-index:1000;"> محصولات</h1>
    </div>
    </section>
    <!-- End page header -->
    <!-- Start portfolio -->
    <section class="portfolio">
        <div class="container">
    <div class="row">
        <div class="span12">
            <div id="filters">
                <ul class="portfolio-filter">
                    <li><a href="#" data-filter="*" class="selected">همه</a></li>
                    {% for category in categories %}
                        <li><a href="#" data-filter=".{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <ul class="thumbnails">
            {% for item in gallery %}
                <li class="span3 {{ item.cat_id.id }}">
                    <div class="thumbnail">
                        <div class="portfolio-item">
                            <img src="/media/{{ item.small_img }}" alt="" />
                            <div class="folio-body">
                                <div class="folio-info">
                                    <h5><a href="#">{{ item.alt }}</a></h5>
                                    <p>{{ item.cat_id.name }}</p>
                                </div>
                                <div class="folio-zoom">
                                    <a href="/media/{{ item.large_img }}" rel="prettyPhoto[pp_gal]"><i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</section>
{% endblock %}
