{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
    صفحه شخصی
{% endblock %}

{% block content %}
      <div class="row" data-ng-app="myApp">
        <div class="col-md-6" style="margin: auto;float: none;" id="right-box" data-ng-controller="myCtrl">

          <div class="box box-primary" id="lottery">

            <div class="row">
             <div class="lottery-title">
               <div>
                 <h1>{{ lottery.title }}</h1></div></div>
              <div class="slot" style="margin-top:0;">
                <div class="box-number" >
                  <div class="box box-primary number"></div>

                  <div class="box box-primary number"></div>

                  <div class="box box-primary number" ></div>
                </div>
              </div>
            <form action="." method="get">
              <input type="hidden" name="status_check" />
              <input data-ng-click="myFunc();" type="button" {{btn_status}} name="spin" id="spin" class="btn btn-primary btn-block spin" value="چرخش">
             </form>
             <p id="msg">{{ message }}</p>

            </div>
          </div>
        </div>

        <div class="col-md-9" style="float: none;margin: 30px auto;">
          <div class="nav-tabs-custom">
            <div class="box-header with-border" id="description">
              <h3 class="box-title">درباره قرعه کشی</h3>
            </div>

            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                  <div class="post">
                    <h1>توضیحات :</h1>
                    <p>
                        {{ lottery.description }}
                    </p>
                  </div>

                  <h1>جوایز قرعه کشی :</h1>
                  <div class="row">
                    {% for award in active_awards %}
                      <div class="col-md-4 award-div">
                        <div class="award-box">
                          <img src="/media/{{ award.img }}" alt="awards">
                        </div>
                        <h4>{{ award.title }}</h4>
                        <div class="col-md-12">
                          <p>
                            امتیاز لازم: <br>بین
                            <span>{{ award.min_score }}</span>
                              و
                            <span style="margin-top: 3px;">{{ award.max_score }}</span>
                          </p>
                        </div>
                      </div>
                    {% endfor %}

                  </div>

                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/slot.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
{% endblock %}